<body>
  
  <header>
    <div class="container-header">

    </div>
  </header>

  <main>
    <div>
      <h2>¡Ahora es el momento!</h2>
    </div>
    <div class="img-container">
      <img src="../../../assets/wallet-cuate(1).svg" alt="">
    </div>
    
  </main>

  <section>
    <div class="section-p1">
      <p>Envía y recibe dinero con nosotros, demasido fácil
        y totalmente seguro, ¿para qué seguir esperando?</p>
    </div>

    <div>
      <p class="section-p2">¿Listo para comenzar?</p>
    </div>

    <div class="section-button">
      <div class="button-container">
        <button>
          <a routerLink="/wallet">Activar Monedero</a>
        </button>
      </div>
      
    </div>
    
  </section>
</body>