<body id="container" class="width-100 h-screen"> 

  <!-- <header>
  <div class="container-header-div">
      <p>20:43</p>
      <img src="../../assets/icon/CellularConnection.svg" alt="icono del wifi">
      <img src="../../assets/icon/Wifi.svg" alt="icono del wifi">
      <img src="../../assets/icon/Battery.svg" alt="icono de bateria">
      </div>
  </header> -->

   <main class="width-100">
    <div  id="container-main">
      <img src="../../assets/header.svg" alt="">
    </div>
    
  </main>

  <section>
    <div id="container-section">
      <br>
      <div>
        <p>Comprar productos nunca había sido tan fácil y <br>
           manejar tu dinero muchísimo menos</p>
      </div>
      <br>
      <div>
        <p>Listo para comenzar?</p>
      </div>
      <br>
      <button >
        <a routerLink="/home">
          Empieza a comprar
        </a>
      </button>
    </div>
  </section>
  <footer>
    <div id="container-footer">
      <p><a routerLink="/login" >Inicia Sesión</a> - <a routerLink="/register">Regístrate</a></p>
    </div>
  </footer>

</body>
 

<div>
  <img src="https://raw.githubusercontent.com/AbdelhamidLarachi/react-native-ecommerce/master/img/thumb.png" alt="">
</div>

