<body>

    <header>
        <div class="container-header">

        </div>
    </header>

    <main id="container-main">
        <div class="container-password">
            <div>
                <a routerLink="/login">
                    <img src="../../assets/icon/back.svg" alt="">
                </a>
            </div>
            
            <h3>¿Necesitas ayuda?</h3>
            <p>
                <strong>¡Escríbenos!</strong> <br> Estamos aqui para ayudarte.
            </p>
        </div>
        <div>
            <img src="../../assets/fragme.svg" alt="">
        </div>
    </main>

    <section>
        <div id="container-section">

            <div class="container-login" *ngIf="mostrarFormulario">
                <p class="container-login-p">Soporte Wallet</p>

                <ion-input fill="solid" label="Nombre y Apellido" labelPlacement="floating"
                    helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>

                <ion-input type="email" fill="solid" label="E-mail" labelPlacement="floating"
                    helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>

                <ion-input type="tel" fill="solid" label="Telefono" labelPlacement="floating"
                    helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>




                <button (click)="enviarMensaje()">Enviar</button>
            </div>
            <div id="success-container" *ngIf="!mostrarFormulario">
                <div class="img-container">
                    <img src="../../../assets/icon/Vector(1).svg" alt="">
                </div>
                <h4>¡Tu mensaje ha sido enviado!</h4>
                <p>En las próximas horas te enviaremos un mensaje
                    a tu correo electrónico con la respuesta a tu solicitud.</p>
                <button routerLink="/login" (click)="restablecerEstado()">Listo</button>
              </div>
            </div>

    </section>


</body>